header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 195, 255);
    height: 150px;
}

header h1{
    font-family: "Momo Signature", cursive;
    color: white;
}

#menu-header{
    display: flex;
    justify-content: space-around;
}
#btn-outline-light{
    display: flex;
    margin: 20px;
}